<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,  initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <title>Kara Leary</title>
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Gruppo|Nunito&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/static/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <div id="homepage">
      <img class="wave-icon" src="/static/wave-icon.svg" alt="Wave Icon" />
      <h1 id="heading">Kara Leary</h1>

      <p>
        Full-stack software engineer and timezone aficionado currently working
        on building the world's next workforce with
        <a href="https://www.thinkful.com">Thinkful</a>.
      </p>

      <div id="social">
        <a
          class="icon-link"
          target="_blank"
          href="https://www.twitter.com/kalaliana"
        >
          <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a
          class="icon-link"
          target="_blank"
          href="https://github.com/learykara"
        >
          <i class="fa fa-github fa-2x"></i>
        </a>
        <a
          class="icon-link"
          target="_blank"
          href="https://www.linkedin.com/in/learykara"
        >
          <i class="fa fa-linkedin fa-2x"></i>
        </a>
      </div>
    </div>
  </body>
</html>
